<div class="col-sm-4">
  <div class="card social-block">
    <div class="card-body">
      <a class="btn btn-block" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Sign in with Google
      </a>
    </div>
  </div>
</div>
